.selectWrapper{
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.selectDropSelected {
    width: 100%;
    height: 100%;
    /*padding: 15px!important;*/
    /* padding-left: 20px; */
    padding-right: 40px!important;
    position: relative;

    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;

    @include border-radius( 4px );

    color: #4C657C;
    background: #ffffff;
    
    cursor: pointer;
    box-sizing: border-box;

    &:before{
        content: '';
        display: inline-block;
        width: 40px;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        bottom:0;
        z-index: 1;
        /* color: #ffffff;
        background-color: #ffffff; */
    }

    &:after{
        display: inline-block;
        width: 40px;
        height: 12px;

        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        margin-top: -6px;

        font-size: 12px;
        text-align: center;

        color: #4C657C;
        
        @include icon-font( 'q' );   
    }
}
ol.selectDrop {
    display: none;
    max-height: 300px;
    width: 250px;
    padding: 0;
    margin: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    overflow-y: auto;

    @include border-radius( 4px );

    > li{
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        padding: 15px!important;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        background: #4D657B;

        @include transition( all, 0.3s, linear);
        
        cursor: pointer;
        box-sizing: border-box;

        &:hover, &.active{
            background: lighten(#4D657B, 10%);
        }
    }
}