.listwrapper
{
	font-size:14px;
	border:1px solid #d9d9d9;
	margin:5px;

	h2{
		background-color:whitesmoke; 
		color:		#2780e3;
    	border:1px solid #d9d9d9;
		font-size:	15px;

		max-height:	40px;

		margin:		0;
		padding:	10px 20px;
	}

	.content{
		min-height:200px;
		padding:0px 2%;

	}
}


