#errorPage{
	#header{
		.user{
			@media screen and( max-width: 800px ){
				padding: 10px;
			}
		}
	}
}
#error404{
	.content.main{
		padding: 100px;

		@media screen and( max-width: 800px ){
			padding: 50px;
		}

		@media screen and( max-width: 500px ){
			padding: 20px;
		}

		h1,h2,p{
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 20px;

			font-family: $mainfont;
			text-align: center;
			font-weight: 300;
		}

		h1{
			font-size: 50px;
			text-transform: uppercase;

			@media screen and( max-width: 500px ){
				font-size: 40px;
			}
		}

		h2{
			font-size: 30px;
			color: #00C5F8;

			@media screen and( max-width: 500px ){
				font-size: 20px;
			}

			a{
				position: relative;
				color: #00C5F8!important;
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: -1px;
					background-color: #00C5F8;
				}
			}
		}

		p{
			font-size: 14px;
			font-weight: 400;

			a{
				position: relative;
				color: $main-color!important;
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: -1px;
					background-color: $main-color;
				}
			}
		}
	}
}