#messages{
    header.main{
        background-color: #e2f6fa;
        .received{
            background-color: #FFF;
            float: left;
            border-radius: 3px;
            text-transform: uppercase;
            padding: 0 15px;
            line-height: 40px;     
            .number{
                background-color: #cddd50;
                border-radius: 3px;
                line-height: 27px;
                margin-left: 25px;
                width: 27px;
                text-align: center;
                display: inline-block;
            }
            @media screen and( max-width: 800px ){
                cursor: pointer;
            }
        }
        .switchMsgView{
            @include transition(all, 0.3s, ease-in-out);
        }
        .cancel,
        .new{
            background-color: #FFF;
            float: right;                
            border-radius: 3px;
            border: none;
            text-transform: uppercase;
            padding: 0 50px 0 15px;
            line-height: 40px;
            position: relative;
            transition: all 0.2s linear;
            @media screen and (max-width: 480px) {
                float: left;
                clear: left;
                margin-top: 15px;
            }                              
            &:after{
                content: "";
                position: absolute;
                right: 15px;
                top: 50%;
                background-repeat: no-repeat;
            }       
            &:hover{
                background-color: $main-color;
                color: #FFF;
            }   
        }
        .new{
            /* display: none; */
            &:after{
                background-image: url("../img/plus.png");
                width: 15px;
                height: 15px;
                margin-top: -7px;
            }            
            &:hover{
                &:after{
                    background-image: url("../img/plus_hover.png");
                }
            } 
        }
        .cancel{
            display: none;
            &:after{
                background-image: url("../img/cross.png");
                width: 15px;
                height: 15px;
                margin-top: -7px;
            }            
            &:hover{
                &:after{
                    background-image: url("../img/cross_hover.png");
                }
            } 
        }
    }
    div.main{
        min-height: 700px;
        display: table;
        width: 100%;

        @media screen and (max-width: 800px) {
            display: block;
            min-height: 0;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .messages{
            position: relative;
            display: table-cell;
            vertical-align: top;
            width: 34%;
            background-color: #8aa1b8;
            padding-bottom: 60px;

            @include transition(all, 0.3s, ease-in-out);

            @media screen and (max-width: 800px) {
                display: block;
                width: 100%;

                position: absolute;
                top: 0;
                right: 100%;


                &.active{
                    position: relative;
                    right: 0;
                }
	        }

            .search{
                background-color: #96acc1;
                padding: 35px;
                @media screen and (max-width: 800px) {
                    padding: 35px 15px;
                }                  
                input{
                    background-color: #FFF;
                    border-radius: 3px;
                    border: none;
                    line-height: 40px;
                    height: 40px;
                    padding: 0 15px;
                }
                input[type="text"]{
                    width: 100%;
                    box-sizing: border-box;
                }                
                input[type="submit"], #btn_searchMessage{
                    float: right;
                    width: 40px;
                    color: transparent;
                    margin-top: -40px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../img/search.png');
                    transition: background 0.2s linear;
                    &:hover{
                        background-color: $main-color;
                        background-image: url('../img/search_hover.png');
                    }
                }
                .text{
                    width: 100%;
                    padding-right: 50px;
                    box-sizing: border-box;
                }
            }
            ul{
                max-height: 500px;
                overflow: hidden;
                list-style: none;
                padding: 35px;
                margin: 0;
                @media screen and (max-width: 800px) {
                    padding: 35px 15px;
                }                                  
                .avatar{
                    width: 62px;
                    height: 62px;
                    line-height: 62px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    font-size: 26px;
                    text-align: center;
                    color: $main-color;
                    background-color: #DCE3E9;

                    &:before{
                        vertical-align: middle;
                        font-size: 44px;
                    }
                }
                .preview{
                    border-radius: 3px;
                    background-color: #FFF;
                    font-size: 14px;
                    padding: 15px;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s linear;
                    h1{
                        font-size: inherit;
                        font-weight: inherit;
                        margin: 0;
                        padding-right: 100px;
                        margin-top: 5px;
                    }
                    p{
                        display: block;
                        width: 195px;
                        margin: 0.5em 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .info{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        line-height: 27px;
                    }
                    .number,
                    .date{
                        font-size: 12px;
                        line-height: inherit;
                    }
                    .number{
                        background-color: #cddd50;
                        display: inline-block;
                        border-radius: 3px;
                        color: #4d657b;
                        width: 27px;
                        line-height: 27px;
                        text-align: center;
                        margin-left: 10px;
                    }
                    .attach{
                        background-image: url("../img/clip.png");
                        width: 18px;
                        height: 24px;
                        background-repeat: no-repeat;
                        float: left;
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color: $main-color;
                        color: #FFF;
                        .attach{
                            background-image: url("../img/clip_hover.png");
                        }                                            
                    }                    
                }
                .delete{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    background-color: $main-color;
                    color: transparent;
                    border: none;
                    border-radius: 3px;
                    background-image: url("../img/trash.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover{
                        background-color: $alternative-color;
                    }
                }
            }
            li{
                position: relative;
                padding-left: 72px;
                padding-right: 50px;
                min-height: 62px;
                & + li{
                    margin-top: 20px;
                }
                &.active{
                    padding-right: 0;
                    .preview{
                        color: #FFF;
                        background-color: $main-color;
                        &:hover{
                            background-color: $alternative-color;
                        }                        
                    }
                    .delete{
                        display: none;
                    }
                    .attach{
                        background-image: url("../img/clip_hover.png");
                    }                    
                }
            }
            footer, header{
                background-color: #96acc1;
                color: #dce3e9;
                text-align: center;
                padding: 10px 35px;
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                @media screen and (max-width: 800px) {
                    padding: 35px 15px;
                }                                  
                h1{
                    float: left;
                    text-transform: uppercase;
                    font-size: inherit;
                    font-weight: inherit;
                    margin: 0;
                    line-height: 40px;
                }
                .more, .less{
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-image: url("../img/bottom.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent;
                    color: transparent;
                    padding: 0;
                    position: absolute;
                    left: 50%;
                    margin-left: -20px;
                    top: 50%;
                    margin-top: -20px;
                }
                .number{
                    width: 27px;
                    height: 27px;
                    text-align: center;
                    float: right;
                    background-color: $main-color;
                    border-radius: 3px;
                    line-height: 27px;
                    margin-top: 6px;
                }
            }
            header{
                height: 60px;
                position: relative;
                border-top: 1px solid lighten($main-color, 20%);
                .less{
                    //transform: rotate(180deg);
                    @include rotate( 180 );
                }
            }
            footer{
                bottom: 0;

                @media screen and (max-width: 800px) {
                    padding: 10px 35px;
                }  
            }
        }
        .conversation{
            display: table-cell;
            vertical-align: top;
            /* height: 100%; */
            position: relative;
            overflow: hidden;
            @include transition(all, 0.3s, ease-in-out);
            
            @media screen and (max-width: 800px) {
                display: block;
                width: 100%;

                position: absolute;
                top: 0; bottom: 0;
                left: 100%;


                &.active{
                    position: relative;
                    left: 0;
                }
	        }
            >*>*>.content{
                display: block;
                /* max-height: 790px;
                overflow-y: auto; */
                position: relative;
            }
            .innerConversation{
                position: relative;
                overflow-x: hidden;
                /* height: 100%; */
                min-height: 500px;

                @media screen and( max-width: 800px ){
                    display: block;
                    min-height: 0;
                    overflow: hidden;
                }
            }
            header{
                position: relative;
                padding: 35px 35px 33px;
                line-height: 40px;
                background-color: #FFF;
                border-bottom: 2px solid #e5eaea;
                @media screen and (max-width: 800px) {
                    padding: 35px 15px 33px;
                }                                  
                h1{
                    margin: 0;
                    font-size: 26px;
                    font-weight: inherit;
                    padding-right: 60px;
                    line-height: 1.2em;
					margin-top: 4px;
                    strong{
                        font-weight: inherit;
                        color: $alternative-color;
                    }
                }
                .delete{
                    position: absolute;
                    right: 35px;
                    top: 35px;
                    width: 40px;
                    height: 40px;
                    background-color: $main-color;
                    color: transparent;
                    border: none;
                    border-radius: 3px;
                    background-image: url("../img/trash.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    @media screen and (max-width: 800px) {
                        right: 15px;
                    }                                      
                    &:hover{
                        background-color: $alternative-color;
                    }
                }
                .new{
                    /* &:only-child{
                        .input{
                            margin-top: 0px!important;
                        }
                    } */
                    .input{
                        position: relative;
                        padding-left: 150px;
                        padding-right: 60px;
                        @media screen and( max-width: 600px ){
                            padding-left: 0px;
                        }
                        & + .input{
                            margin-top: 20px;
                        }

                        @include placeholder{
                            font-size: 0;
                            @media screen and( max-width: 600px ){
                                font-size: 14px;
                            }
                        } 
                    }
                    label{
                        width: 120px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 22px;

                        @media screen and( max-width: 600px ){
                            display: none;
                        }
                    }
                    input[type="text"], select{
                        width: 100%;
                        box-sizing: border-box;
                        line-height: 40px;
                        border: none;
                        border-radius: 3px;
                        background-color: #eaeef3;
                        padding: 0 15px;
                        height: 40px;
                    }
                    .oneOrOther{
                        float: none;
                        clear: both;
                        display: block;
                        margin-top: 10px;
                        /* padding-left: 75px; */
                        
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 16px;
                        text-align: center;
                        color: $main-color;
                    }
                    .add{
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: transparent;
                        width: 40px;
                        height: 40px;
                        border-radius: 3px;
                        border: none;
                        padding: 0;

                        text-align: center;
                        background-image: none;
                        background-color: $main-color;

                        @include transition( all, 0.3s, linear );

                        /* background-image: url("../img/plus_hover.png");
                        background-repeat: no-repeat;
                        background-position: center; */

                        &[disabled]{
                            background-color: #dbe0e5; 
                        }

                        &:hover{
                            background-color: #96acc1;
                        }

                        &:before{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 40px;
                            @include icon-font( 'r' );

                            color: #ffffff;
                        }


                        &.removeSelection{
                            background-color: #96acc1;

                            &:hover{
                                background-color: $main-color;
                            }

                            &:before{
                                color: #ffffff;
                                @include icon-font( 'e' );
                            }
                        }
                    }
                    .disabled{
                        color: #e8ebef;
                    }
                }
            }
            ul{
                list-style: none;
                padding: 0 35px;
                margin: 0;
                max-height: 500px;
                overflow: auto;
                @media screen and (max-width: 800px) {
                    padding: 0 15px;
                    max-height: none;
                }                                  
            }
            li{
                position: relative;
                margin-bottom: 30px;
                &.endChat{
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: right;
                }
                h1{
                    margin: 0;
                    font: inherit;
                    padding-right: 50px;
                }
                .avatar{
                    width: 62px;
                    height: 62px;
                    line-height: 62px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;

                    font-size: 26px;
                    text-align: center;
                    color: $main-color;
                    background-color: #DCE3E9;
                }                             
                .message{
                    border-radius: 3px;
                    padding: 15px;
                    position: relative;
                    font-size: 14px;

                    .msgContent{
                        display: block;
                        width: 100%;
                        padding: 5px;
                        margin: 5px;
                        overflow-x: auto;
                    }

                    .attachments{
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-weight: bold;
                        h2{
                            padding-bottom: 10px;
                            font-size: 12px;
                            text-transform: uppercase;
                        }

                        .downloadAttach{
                            vertical-align: bottom;
                            padding-left: 5px;
                            font-size: 14px;
                            color: $main-color;

                            @include transition(color, 0.3s, linear);

                            &:hover{
                                color: #96acc1;
                                &:before{
                                    color: #96acc1;
                                }
                            }

                            &:before{
                                vertical-align: bottom;
                                padding-right: 5px;
                                font-size: 17px;
                                color: $main-color;

                                @include transition(color, 0.3s, linear);
                            }
                        }
                    }
                }
                .date{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    height: 20px;

                    &.hasAttach{
                        &:before{
                            content: '';
                            display: block;
                            width: 20px;
                            height: 24px;
                            position: absolute;
                            top: -4px;
                            left: -28px;
                            background: url("../img/clip.png") no-repeat center center;
                        }
                    }
                }                                   
                &.me{
                    padding-right: 72px;
                    padding-left: 15%;
                    .avatar{
                        right: 0;
                    }
                    .message{
                        background-color: #FFF;
                    }                       
                }
                &.other{
                    padding-left: 72px;
                    padding-right: 15%;
                    .avatar{
                        left: 0;
                    }
                    .message{
                        background-color: #e5eaed;
                    }                     
                }
            }
            .reply{
                padding: 0 107px 0 15%;
                margin-bottom: 30px;
                margin-top: 30px;
                /* position: absolute;
                bottom: 0; */
                width: 100%;
                box-sizing: border-box;
		        @media screen and (max-width: 800px) {
		            padding: 0 92px 0 15px;
		        }                 
                .content{
                    position: relative;
                    background-color: #FFF;
                    border-radius: 3px;
                    padding: 15px;
                }
                .mce-tinymce{
                    margin-bottom: 10px;
                }
                textarea{
                    display: block;
                    border: none;
                    width: 100%;
                    margin-bottom: 10px;
                }
                button.msgBtn{
                    background-color: #e8ebef;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border: none;
                    background-repeat: no-repeat;
                    background-position: center;
                    color: transparent;
                    border-radius: 3px;
                    & + button{
                        margin-left: 10px;
                    }
                    &:hover{
                        background-color: $alternative-color;
                    }
                    &.attach{
                        background-image: url("../img/clip.png");
                        &:hover{
                            background-image: url("../img/clip_hover.png");
                        }                        
                    }
                    &.code{
                        background-image: url("../img/code.png");
                        &:hover{
                            background-image: url("../img/code_hover.png");
                        }
                    }
                }
                .structureLabel, .forcedLabel{
                    display: inline-block;
                    vertical-align: top;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    overflow: hidden;

                    position: relative;

                    border: none;
                    border-radius: 3px;

                    color: transparent;
                    background-color: #e8ebef;
                    background-repeat: no-repeat;
                    background-position: center;
                    input{
                        opacity: 0;
                        position: absolute;
                        top: 0; left: 0; right: 0;
                        z-index: 0;
                    }
                }
                .forcedLabel{
                    position: relative;
                    z-index: 1;
                    background-image: url("../img/clip.png");
                    &:hover{
                        background-image: url("../img/clip_hover.png");
                        background-color: $alternative-color;
                        cursor: pointer;
                    }  
                }
                input[type="submit"], input[type="button"]{
                    position: absolute;
                    right: -72px;
                    top: 15px;
                    background-image: url("../img/enter.png");
                    background-color: $main-color;
                    border-radius: 50%;
                    color: transparent;
                    width: 60px;
                    height: 60px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;   
                    padding: 0;                 
                    &:hover{
                        background-color: $alternative-color;
                    }
			        @media screen and (max-width: 800px) {
			            bottom: 0;
			            top: auto;
			            width: 50px;
			            height: 50px;
			        }                      
                }
                .fileList{
                    padding-left: 10px;
                    margin-top: 10px;
                }
            }

            .quickSelect{
                margin: 0;
                padding: 10px;

                border-top: 1px solid darken(#eaeef3, 10%);
                @include border-bottom-radius( 4px );
                background-color: #eaeef3;
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin: 5px;
                    margin-left: 30px;
                    padding: 5px 10px;
                    line-height: 30px;

                    position: relative;

                    @include border-radius( 4px );

                    color: #ffffff;
                    background-color: #8aa1b8;

                    cursor: pointer;

                    /* @media screen and( max-width: 800px ){
                        margin-left: 30px;
                    } */

                    > span{
                        display: inline-block;
                        vertical-align: middle;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        margin-left: 3px;

                        font-weight: bold;
                        text-align: center;

                        @include border-radius( 50% );
                        color: $main-color;
                        background-color: #ffffff;

                        @media screen and( max-width: 800px ){
                            width: 20px;
                            height: 20px;
                            line-height: 20px;

                            position: absolute;
                            top: 50%;
                            left: -30px;
                            margin-top: -8px;

                            font-size: 12px;

                            color: #ffffff;
                            background-color: $main-color;

                            //pointer-events: none;
                            
                        }

                        &:hover{
                            span{
                                display: block;
                                max-width: 200px;
                                padding: 5px;

                                position: absolute;
                                right: 0px;
                                top: 35px;
                                z-index: 3;

                                font-size: 12px;

                                @include border-radius( 4px );

                                color: $main-color;
                                background-color: #ffffff;

                                @media screen and( max-width: 800px ){
                                    right: auto;
                                    left: 0;
                                }
                            }
                        }

                        span{
                            display: none;
                        }
                        
                    }
                }
            }
        }

        .msgList, .newMsg{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            /* padding-bottom: 158px; */

            @include transition( all, 0.3s, ease-in-out );
        }
        .newMsg{
            position: absolute;
            top: 0; bottom: 0;
            right: 100%;
            &.active{
                position: relative;
                right: 0;
            }

            > .content{
                display: none;
            }
        }

        .msgList{
            position: absolute;
            left: 100%;
            &.active{
                position: relative;
                left: 0;
            }
            > .content{
                padding-top: 20px;
            }
        }
    }
}

.attachedFile{
    margin-left: 10px;
    position: relative;
    span{
        display: block;
        width: 12px;
        height: 12px;

        font-size: 12px;

        position: absolute;
        top: 6px;
        left: -17px;

        cursor: pointer;
    }
}