main#profile{
	.content.main{
		background: none;
		background-image: none;
		background-color: #ffffff;
	}
	>.content{

	}
	header{
		height: 80px;
		line-height: 80px;
		padding: 15px 10px;
		background-color: #E2F6FC;

		@media screen and( max-width: 800px ){
			height: auto;
			line-height: normal;
			padding-bottom: 0;
		}
		.staticInfo{
			height: 100%;
			li{
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				padding: 0 30px;
				margin-bottom: 15px;
				font-size: 26px;
				text-align: center;
				border-left: 2px solid #ffffff;
				color: $main-color;

				@media screen and( max-width: 960px ){
					font-size: 20px;
				}

				@media screen and( max-width: 800px ){
					border-left: 0;
					padding: 15px;
				}

				&:first-child{
					border-left: 0;
				}

				&:before{
					display: inline-block;
					vertical-align: middle;
					padding-right: 20px;
					font-size: 30px;
					color: #1FCCF4;
				}

				&.icon-profile{
					&:before{
						font-size: 40px;
					}
				}
			}
		}
	}
	article.content{
		padding: 30px 40px;

		@media screen and( max-width: 800px ){
			padding: 15px;
		}

		h1{
			margin-bottom: 20px;
			font-size: 22px;
			font-weight: normal;
			text-transform: uppercase;
			color: #00C6F8;
		}
		.profileInfoList{
			display: block;
			li{
				font-size: 0;
				&.listTitles{
					box-sizing: border-box;
					padding-bottom: 5px;
					margin-bottom: 5px;
					font-weight: bold;
					text-transform: uppercase;
					border-bottom: 2px solid #E6ECF0;
					.colLeft,.colRight{
						font-size: 14px;
						color: #6E8395;

						@media screen and( max-width: 800px ){
							font-size: 12px;
						}

						&:before{
							padding-right: 10px;
							color: #B3BFC8;

							@media screen and( max-width: 800px ){
								display: none;
							}
						}

					}
				}
				.longName{
					@media screen and( max-width: 800px ){
						display: none;
					}
				}
				.shortName{
					display: none;
					@media screen and( max-width: 800px ){
						display: inline;
					}
				}
				.colLeft,.colRight{
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@media screen and( max-width: 800px ){
						font-size: 14px;
					}
				}

				.colLeft{
					width: 40%;
					&:before{
						font-size: 35px;
					}
				}

				.colRight{
					width: 60%;
					&:before{
						font-size: 30px;
					}
				}

				&:not( .listTitles ){
					box-sizing: border-box;

					.colLeft, .colRight{
						box-sizing: border-box;
						padding: 20px;
						@include border-radius( 4px );
						border: 1px solid #ffffff;
						background-color: #EDF1F4;
					}

					&:nth-of-type(odd){
						.colLeft, .colRight{
							background-color: #E6ECF0;
						}
					}
				}
			}
		}
	}
}