@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

//USAGE
/* 
@include transition( color, 0.3s, ease-in-out );
*/

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

/*   filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})"; */
  zoom: 1;
 }

 //USAGE
/* 
@include rotate( 180 );
*/


//All sides boder radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

//USAGE
/* 
@include border-radius( 50% );
*/


// Single side border-radius
@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;

	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;

	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;

	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;

	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;

	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;

	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;

	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;

	background-clip: padding-box;
}

//USAGE
/* 
@include border-top-radius(10px);
@include border-right-radius(8px);
@include border-bottom-radius(10px);
@include border-left-radius (6px); 
*/

//Style Placeholders
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

//USAGE
/* 
@include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
} 
*/


//Vertical Align Helper
@mixin vAlign($align) {
	display: inline-block;
	vertical-align: $align;
	width: 0;
	height: 100%;
}

//USAGE
/* 
@include vAlign( middle );
*/

//Icon Font
@mixin icon-font($icon) {
	content: $icon;

	font-family: "lusiadas-portal" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//USAGE
/* 
@include icon-font( 'a' );
*/