@using LusiadasDAL;
@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@model Tuple<EnfermeirosModel,AnestesistasModel>

<style type="text/css">
    .bootstrap-switch-fail {
        background:#E63737;
        color: #fff;
    }

    .example-val {
        font: 400 12px Arial;
        color:#888;
        display:block;
        margin:15px 0;
    }

    /* Position the bar and color it. */
    #DOR {
        background: linear-gradient(to right, rgba(77, 175, 12, 1) 0%, rgba(247, 247, 37, 1) 50%, rgba(255, 30, 30, 1) 100%);
    }

    .bootstrap-switch-sliderElementClass {
        float:right;
    }

    .enfSelect {

    }
</style>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Balão Infusor</label>
            <select id="BAL_INFUSOR" name="BAL_INFUSOR" class="form-control">
                <option value="1">EV</option>
                <option value="2">Epidural</option>
            </select>
        </div>

        <div class="form-group">
            <label>SOS</label>
            <input type="checkbox" id="SOS" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Nausea</label>
            <input type="checkbox" id="NAUSEA" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Vómitos</label>
            <input type="checkbox" id="VOMITOS" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Insonia</label>
            <input type="checkbox" id="INSONIA" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Cefaleia</label>
            <input type="checkbox" id="CEFALEIA" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Alteração terapeutica</label>
            <input type="checkbox" id="ALT_TERAP" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>


    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Balão Infusor Sit</label>
            <select id="BAL_INFUSOR_SIT" name="BAL_INFUSOR_SIT" class="form-control">
                <option value="F">Fechado</option>
                <option value="C">Em Curso</option>
                <option value="R">Retirado</option>
            </select>
        </div>

        <div class="form-group">
            <label>Dor</label>
            <div class="sliders" id="DOR" name="DOR"></div>
            <span class="example-val" id="spanSliderDOR"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Enfermeiros</label>
            <select id="ENF" name="ENF" class="form-control enfSelect select2">
                <option value="">Escolher Enfermeiro</option>
                @foreach (TblSDPessHosp item in Model.Item1.listEnfermeiros)
                {
                    <option value="@item.N_MECAN">@item.NOME</option>
                }
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Anestesista Visita</label>
            <select id="ANEST_VISITA" name="ANEST_VISITA" class="form-control">
                <option value="">Escolher Anestesista</option>
                @foreach (TblPessHospDet item in Model.Item2.listAnestesistas)
                {
                    <option value="@item.N_MECAN">@item.NOME</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Outros sintomas</label>
            <input type="text" class="form-control" id="OUTROS_SINT" name="OUTROS_SINT" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Observações</label>
            <input type="text" class="form-control" id="OBS" name="OBS" />
        </div>
    </div>
</div>

<input type="hidden" id="formDaDor_tdoente" />
<input type="hidden" id="formDaDor_doente" />
<input type="hidden" id="formDaDor_nint" />
<input type="hidden" id="formDaDor_nregoper" />