@using LDFHelper.Helpers
@using LusiadasSolucaoWeb.Models

@model HistoricoDadorModel

<div class="box">
    <div class="box-body">
        <div class="row listwrapper no-border">@Html.TableRender(Model, new LDFTableAttributes() { ID = "histDorTable", className = "tableInternal", canDeleteRow = true })</div>
    </div>
</div>