@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@model EnfermeirosModel

<link href="/Content/css/ldfTable.min.css" rel="stylesheet" />
<script src="/Content/js/ldfTable.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Internamento
        <small>Consulta Dador</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Consulta Dador</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form action="#" method="post">
        <div class="box box-default">
            <div class="box-body">
                <div class="row listwrapper no-border">@*@Html.TableRender(Model, new LDFTableAttributes() { ID = "atpTable", className = "tableInternal", autoRefreshTime = 30000 })*@</div>
            </div>
        </div>
    </form>
</section>

<div class="modal modal-info fade" id="modalPatologia" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-select-tl-title-patologia"><i class="fa fa-medkit"></i> Patologia</h4>
            </div>
            <div class="modal-body" id="modal-desloc-tl-body-patologia">
                <h4>I am an info callout!</h4>
                <p>Follow the steps to continue to payment.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHistoricoDador" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-select-tl-title-histdador"><i class="fa fa-history"></i> Histórico Dador</h4>
            </div>
            <div class="modal-body" id="modal-desloc-tl-body-histdador">

            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFormularioDador" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-formularioDador">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal-select-tl-title-formDador"><i class="fa fa-heartbeat"></i> Formulário Dador</h4>
                </div>
                <div class="modal-body" id="modal-desloc-tl-body-formDador">
                    @Html.Partial("_formulario", Model)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success" id="save-formulario">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section customJS
{
    <script type="text/javascript">
        var sosCheckBox = $('#SOS').bootstrapSwitch();
        var nauseaCheckBox = $('#NAUSEA').bootstrapSwitch();
        var vomitosCheckBox = $('#VOMITOS').bootstrapSwitch();
        var insoniaCheckBox = $('#INSONIA').bootstrapSwitch();
        var cefaliaCheckBox = $('#CEFALEIA').bootstrapSwitch();
        var altTerapCheckBox = $('#ALT_TERAP').bootstrapSwitch();

        var dorElement = document.getElementById("DOR");
        noUiSlider.create(dorElement, {
            start: 5,
            step: 1,
            animate: false,
            connect: 'lower',
            range: { 'min': 1, 'max': 10 }
        });

        dorElement.noUiSlider.on('update', function (values, handle) {
            $("#spanSliderDOR").html("Nível: " + values[handle]);
        });

        $("#ENF").select2({ width: "100%" });

        $("#form-formularioDador").submit(function (e) {
            e.preventDefault();
            var formValues = $(this).serialize();

            formValues += "&SOS=" + ((sosCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&NAUSEA=" + ((nauseaCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&VOMITOS=" + ((vomitosCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&INSONIA=" + ((insoniaCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&CEFALEIA=" + ((cefaliaCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&ALT_TERAP=" + ((altTerapCheckBox.bootstrapSwitch("state") == true) ? "S" : "N");
            formValues += "&DOR=" + dorElement.noUiSlider.get().split('.')[0];

            @*var tDoente = $("#formDador_tdoente").val();
            var doente = $("#formDador_doente").val();

            $.ajax({
                url: '@Url.Action("SaveFormularioDador", "ConsultaDador")',
                data: { "tdoente": tDoente, "doente": doente, "formulario": formValues },
                dataType: 'JSON',
                type: "POST",
                cache: false,
                success: function (result) {
                    if (result.header.status == false) {
                        console.log(result);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                }
            });*@
        });


        //$(document).on("click", ".consdadorFormulario", function () {
        //    var tDoente = $(this).attr("data-tdoente");
        //    var doente = $(this).attr("data-doente");
        //    var nomeDoente = $(this).attr("data-nome");

        //    $("#formDador_tdoente").val(tDoente);
        //    $("#formDador_doente").val(doente);
        //});

        @*$(document).on("click", ".consdadorHistorico", function () {

            var tDoente = $(this).attr("data-tdoente");
            var doente = $(this).attr("data-doente");
            var nomeDoente = $(this).attr("data-nome");

            $.ajax({
                url: '@Url.Action("ShowHistoricoDador", "ConsultaDador")',
                data: { "tdoente": tDoente, "doente": doente },
                type: "GET",
                cache: false,
                success: function (result) {
                    if (result != "") {
                        console.log(result);
                        $("#modal-select-tl-title-histdador").html("<i class=\"fa fa-history\"></i> Histórico Dador : " + nomeDoente);
                        $("#modal-desloc-tl-body-histdador").html(result);
                    } else {
                        $("#modal-desloc-tl-body-histdador").html("");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                }
            });

        });*@
    </script>

}