<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Loggable.Provider" value="Database" />
    <add key="Loggable.Database.ConnectionString" value="User Id=medico;Password=medico;Data Source=BDHLUQLD" />
    <add key="Loggable.Configuration.ConfigFilePath" value="C:\Work\LDF.ErrorLogging-master\log4netConfig.xml" />
    <add key="LDAPServer" value="10.76.4.11" />
    <add key="LDAPPort" value="636" />
    <add key="Domain" value="LUSIADAS" />
    <add key="WebAPI" value="http://localhost:8000/" />
    <add key="GLB_Login_ByPass" value="0" />
    <add key="GLB_Login_Key" value="bold15int" />
    <add key="GLB_Login_ADUser" value="YYAPL01" />
    <add key="GLB_Login_ADPass" value="55oiCI?9e2V3jLD" />
    <add key="TableRowsPerPage" value="20" />
    <add key="PIMDetailURL" value="http://spf0008web08.lusiadas.com:7031/Glintths.Shell/Authentication/ExternalAccess?user_sys=MED&amp;utilizador_id=MED&amp;doente=[DOENTE]&amp;tDoente=[T_DOENTE]&amp;episodio=[EPISODIO]&amp;tEpisodio=[T_EPISODIO]&amp;nMecan=[SS_numMecan]&amp;nMecanPresc=[SS_numMecan]&amp;utilizadorIdPresc=med&amp;prescPlace=&amp;companyDb=HPT_DEV&amp;machine=172.23.87.42&amp;destPage=PIM&amp;prescriptionType=I&amp;accessContext=EPR_EXT&amp;applicationId=SGICMW&amp;companyId=HPP&amp;moduleId=PIM" />
    <add key="eResultsDetailURL" value="http://spf0008web08:9009/Glintths.Shell/Authentication/ExternalAccess?destpage=DOCUMENTVIEWER&amp;showPatientHeader=true&amp;utilizador_id=HPP&amp;tdoente=[T_DOENTE]&amp;doente=[DOENTE]" />
    <add key="ErrorMessage" value="Pedimos desculpa pelo incómodo de momento não foi possível satisfazer o seu pedido" />
    <add key="SERV_ANEST" value="2101" />
  </appSettings>

  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/General">
      <error redirect="~/Error/Error404" statusCode="404" />
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
     
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.WebPages" />
        <add namespace="LDF.ErrorLogging.ErrorHandling" />
        <add namespace="LDFHelper.Helpers" />
      <add namespace="LDF.Authentication" /></namespaces>
    </pages>
    <!--<sessionState mode="SQLServer"
      sqlConnectionString="DBGeneral" />-->


  <!-- This section gives the unauthenticated user access to the Default1.aspx page only. It is located in the same folder as this configuration file. -->
   

    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=BDHPTQLD;PASSWORD=hppnorte;USER ID=HPP&quot;" providerName="System.Data.EntityClient" />
    <add name="BDHPTQLD" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=hpp;Password=hppnorte;Data Source=BDHPT" />
    <add name="BDHLUQLD" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=medico;Password=medico;Data Source=BDHLUQL2" />
    <add name="BDHSULQLD" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=medico;Password=medico;Data Source=BDHLUQL2" />
    <add name="DBGeneral" connectionString="data source=SPH0000SQL03\QUALIDADE;initial catalog=AplicacaoInterna;persist security info=True;user id=ufadmin;password=pwd$2015!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>