@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>PC's Ligados</title>
</head>
<body>

    <h1>PC's Ligados: @Globals.listaUsers.Count</h1>
    @{ 

        foreach(string value in Globals.listaUsers){
            <p>@value</p>
        }


    }
   

</body>
</html>